.NftContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 320px));
  /* grid-auto-flow: 280px; */
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 20px;
  padding-bottom: 50px;
}